// Custom Reset/Normalize
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    padding: 0px;
    margin: 0px;
}

html {
    font-size: 16px;
}

body {
    font-family: 'Noto Sans TC', 'Times New Roman', 'Arial', sans-serif;
    line-height: 1.5;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
}