// 用於 Bootstrap 文字排版的文件和範例，包括全域設定、標題、主體文本、列表和更多

@import url('https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&display=swap');

@import url('https://fonts.cdnfonts.com/css/quantum-2');

.font-quantum {
    font-family: 'Quantum';
}

.font-pathway {
    font-family: 'Pathway Gothic One', sans-serif;
}

.pointer {
    cursor: pointer;
}
